#form
  = form_for @order do |f|
    - if @order.errors.any?
      #error_explanation
        %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
        %ul
          - @order.errors.full_messages.each do |msg|
            %li{style: "list-style-type:none;"}= msg

    .field
      = f.label :name, "Nombre"
      = f.text_field :name
    .field
      = f.label :address, "Direccion"
      = f.text_field :address
    .field
      = f.label :post_code, "Codigo Postal"
      = f.text_field :post_code
    .field
      = f.label :city, "Ciudad"
      = f.text_field :city
    .field
      = f.label :email, "Email"
      = f.text_field :email
    .field
      = f.label :email_confirmation, "Confirmación Email"
      = f.text_field :email_confirmation
    .field
      = f.submit 'Siguiente Paso'
