.col-xs-12
  #form_admin
    = form_for [:admin, @product] , html: {multipart: true} do |f|
      - if @product.errors.any?
        #error_explanation
          %h2= "#{pluralize(@product.errors.count, "error")} No permiten guardar este producto:"
          %ul
            - @product.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :name, "Nombre"
        = f.text_field :name
      .field
        = f.label :description, "Descrición"
        = f.text_area :description
      .field
        = f.label :short_description, "Descripción corta"
        = f.text_area :short_description
      .field
        = f.label :price, "Precio"
        = f.text_field :price
      .field
        = f.label :size, "Talla"
        = f.text_field :size
      .field
        = f.label :stock
        = f.text_field :stock
      .field
        = f.label :category, "Categoria"
        = f.select :category, Product::CATEGORY, allow_blank: true
      .field
        = f.label :photo, "Foto"
        = f.file_field :photo
      .actions
        = f.submit 'Crear'
