.admin_product

  %h1 Listado Productos

  %table.table
    %tr
      %th Nombre
      %th Descripcion
      %th Precio
      %th Tallas
      %th Stock
      %th Categoria
      %th
      %th
      %th

    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.description
        %td
          = product.price
          €
        %td= product.size
        %td= product.stock
        %td= product.category
        %td= link_to 'Ver', [:admin, product]
        %td= link_to 'Editar', edit_admin_product_path(product)
        %td= link_to 'Destruir', [:admin, product], :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'Nuevo Producto', new_admin_product_path, class: "admin_link"
