%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Short Description
  = @product.short_description
%p
  %b Price:
  = @product.price
  €
%p
  %b Size:
  = @product.size
%p
  %b Stock:
  = @product.stock
%p
  %b Category:
  = @product.category
%p
  %b Foto:
  = image_tag @product.photo.url(:thumb)

= link_to 'Edit', edit_admin_product_path(@product)
\|
= link_to 'Back', admin_products_path
