!!!
%html
  %head
    %title Flycosette
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      .line

      .container
        %header
          .row
            .col-xs-12
              .logo
                = link_to image_tag("flycosette_logo.png") , root_path
                - unless session[:cart_id].nil?
                  .shopping_cart
                    %span== (#{Cart.find(session[:cart_id]).amount_items})
                    = link_to (image_tag "shopping_cart.png"), cart_path(session[:cart_id])

          .row
            .col-xs-12
              - flash.each do |key, msg|
                = content_tag(:div, msg,  class: "#{key}")

          .row
            .col-xs-12
              %nav
                %ul.main-nav.clearfix
                  %li= link_to "Productos","#", class: "heading"
                  %li= link_to "Eventos", events_path, class: @action == "events" ? "current" : ""
                  %li= link_to "Nosotros", us_path, class: @action == "us" ? "current" : ""
                  %li= link_to "Contacta", contact_path, class: @action == "contact" ? "current" : ""
                %ul.products{class: @current ? "active" : ""}
                  %li= link_to "Pantalones", pantalones_path, class: @action == "pantalones" ? "current" : ""
                  %li= link_to "Vestidos/Faldas", faldas_path, class: @action == "faldas" ? "current" : ""
                  %li= link_to "Camisas/Camisetas", camisas_path, class: @action == "camisas" ? "current" : ""
                  %li= link_to "Chaquetas/Blazer", chaquetas_path, class: @action == "chaquetas" ? "current" : ""
                  %li= link_to "Jersey", jersey_path, class: @action == "jersey" ? "current" : ""
                  %li= link_to "Complementos", complementos_path, class: @action == "events" ? "current" : ""
                  %li= link_to "Calzado", botas_path, class: @action == "calzado" ? "current" : ""
                  %li= link_to "Outlet", outlet_path, class: @action == "outlet" ? "current" : ""
      = yield
    %footer
      Copyright © 2014. All rights reserved
      .container
        .social_icons.pull-right
          %ul
            %li
              = link_to "", "https://www.facebook.com/Flycosette",:target => "_blank", class: "facebook"
            %li
              = link_to "", "https://twitter.com/FlyCosette",:target => "_blank", class: "twitter"
            %li
              = link_to "", "http://instagram.com/flycosette",:target => "_blank", class: "instagram"
