!!!
%html
  %head
    %title Flycosette
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #wrap
      .line
      .container
        %header
          .row
            .col-xs-12
              .logo
                = link_to image_tag("flycosette_logo.png") , root_path
          .row
            .col-xs-12
              %nav
                %ul.main-nav
                  %li
                    = link_to "Productos", "#products", class: "heading"
                    %ul.products
                      %li Jersey
                      %li Pantalones
                      %li Faldas
                      %li Camisas
                      %li Camisetas
                      %li Complementos
                      %li Botas
                      %li Outlet
                  %li= link_to "Coleccion", "#"
                  %li= link_to "Nosotros", "#"
                  %li= link_to "Contacta", contact_path, class: @action == "contacta" ? "current" : ""
      = yield
    %footer
      Copyright © 2014. All rights reserved



