!!!
%html
  %head
    %title Flycosette
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      .line

      .container
        %header
          .row
            .col-xs-12
              .logo
                = link_to image_tag("flycosette_logo.png") , root_path
                - unless session[:cart_id].nil?
                  .shopping_cart
                    %span== (#{Cart.find(session[:cart_id]).amount_items})
                    = link_to (image_tag "shopping_cart.png"), cart_path(session[:cart_id])

          .row
            .col-xs-12
              - flash.each do |key, msg|
                = content_tag(:div, msg,  class: "#{key}")

          .row
            .col-xs-12
              %nav
                %ul.main-nav
                  %li
                    = link_to "Productos","#", class: "heading"
                    %ul.products{class: @current ? "active" : ""}
                      %li= link_to "Jersey", jersey_path
                      %li= link_to "Pantalones", pantalones_path
                      %li= link_to "Faldas", faldas_path
                      %li= link_to "Camisas", camisas_path
                      %li= link_to "Camisetas", camisetas_path
                      %li= link_to "Complementos", complementos_path
                      %li= link_to "Botas", botas_path
                      %li= link_to "Outlet", outlet_path
                  %li= link_to "Coleccion", ""
                  %li= link_to "Nosotros", us_path, class: @action == "us" ? "current" : ""
                  %li= link_to "Contacta", contact_path, class: @action == "contact" ? "current" : ""
      = yield
    %footer
      Copyright © 2014. All rights reserved



